
.filter-white {
    filter: brightness(0) invert(1);
}

.filter-black {
    filter: brightness(0) invert(1);
}

.filter-blue {
    filter: invert(50%) sepia(54%) saturate(575%) hue-rotate(161deg) brightness(95%) contrast(101%);
}

.filter-gray {
    filter: invert(197%) sepia(17%) saturate(253%) hue-rotate(174deg) brightness(100%) contrast(100%);
}

.shadow-button {
    filter: drop-shadow(0 1px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.select-container {
    position: relative;
}

.selected-option {
    display: block;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    cursor: pointer;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 10rem;
    min-width: 100%;
    z-index: 10;
}

.option {
    padding: 0.75rem;
    cursor: pointer;
}

.select-container:focus-within .options {
    display: block;
}

.hidden {
    display: none;
}
