
.filter-white {
    filter: brightness(0) invert(1);
}

.filter-black {
    filter: brightness(0) invert(1);
}

.filter-gray {
    filter: invert(85%) sepia(19%) saturate(192%) hue-rotate(177deg) brightness(86%) contrast(89%);
}

.filter-red {
    filter: invert(38%) sepia(100%) saturate(3301%) hue-rotate(338deg) brightness(90%) contrast(91%);
}

.filter-green {
    filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(90deg) brightness(95%) contrast(85%);
}

.filter-accent-1 {
    filter: invert(50%) sepia(82%) saturate(1035%) hue-rotate(180deg) brightness(93%) contrast(85%);
}

.shadow-button {
    filter: drop-shadow(0 1px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.select-container {
    position: relative;
}

.selected-option {
    display: block;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    cursor: pointer;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 20rem;
    min-width: 100%;
    z-index: 10;
}

.option {
    padding: 0.75rem;
    cursor: pointer;
}

.select-container:focus-within .options {
    display: block;
}

.hidden {
    display: none;
}

.notification {
    position: fixed;
    top: 10px;
    width: fit-content;
    right: 10px;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}

.notification.success {
    background-color: #4caf50;
    color: white;
}

.notification.error {
    background-color: #f44336;
    color: white;
}
